{% extends 'base.html' %}

{% block title%}CAIXA {% endblock title%}

{% block core %}
<a class="collapse-item" href="{% url 'home' %}">
  <i class="fas fa-fw fa-chevron-left"></i>
</a>
CAIXA
{% endblock%}


{% block content%}
{% load bootstrap %}
  <h1 class="text-center">CAIXA</h1>

  <hr class="sidebar-divider">
  {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}
    
  <form method="post">{% csrf_token %}
    <div class="form-group">
      
      <select name="produtos" class="form-control" multiple id="multiple-select">
          {% for pro in produtos %}
              <option value="{{pro.id}}" name="produtos">{{pro.nome}}</option>
          {% endfor %}  
      </select>    
      
    </div>
    <button type="submit" class="btn btn-primary">Finalizar</button> 

  </form>  

  {% comment %} <select id="precoFruta" multiple name="valores" class="form-control">
    {% for pro in produtos %}
      <option value={{pro.valor_do_produto}} name="produtos">{{pro.nome}}</option>
    {% endfor %} 
  </select>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  

<input type="text" class="form-control" id="valorTotal" name="valorTotal" value="" disabled>
  <script>
    $('select').change(function(){
      var sum = 0;
      $('select :selected').each(function() {
          sum += Number($(this).val());
          console.log(sum);
      });
       $("#valorTotal").val(sum);
  });
  </script> {% endcomment %}
  
{% endblock content%}

