{% extends 'base.html' %}

{% block title%}Cadastro produto {% endblock title%}

{% block core %}
<a class="collapse-item" href="{% url 'home' %}">
  <i class="fas fa-fw fa-chevron-left"></i>
</a>
Histórico de vendas
{% endblock%}



{% block content%}
{% load crispy_forms_tags %}
    <div class="col-md-8">
      <form class="form-inline my-2 my-gl-0 pull-right">
          <label>Data Inicial</label>
          <input name="data_inicial" class="form-control ml-sm-2 mr-sm-2" type="date">
          <label>data final</label>
          <input name="data_final" class="form-control ml-sm-2 mr-sm-2" type="date">
          <button class="btn btn-primary my-2 my-sm-0" type="submit">
            <i class="fas fa-search fa-sm"></i>
          </button>
      </form>
    </div>

    {% if vendas_q %}
    <div class="d-flex flex-column">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Valor da compra</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Data da venda</th>
            </tr>
          </thead>
          <tbody>
              {% for venda in vendas_q%}
              <tr>
                  <th scope="row">{{venda.id}}</th>
                  
                  
                  <td>{{venda.valor_da_compra}}</td>
                  <td>{{venda.quantidade}}</td>
                  <td>{{venda.data_compra}}</td>
                  <td>
                    <a href="{% url 'venda-detalhe' venda.pk%}"class="btn btn-info btn-sm">info</a>
                  </td>
              </tr>
            {% endfor %}
            
          </tbody>
        </table>        
    </div>
    {% endif %}
{% endblock content%}